<!-- Footer -->
<footer id="footer">
    <div class="container">
	    <ul class="copyright">
	        <li>&copy; <a href="https://www.preferred-networks.jp/">Preferred Networks, inc.</a>, <a href="https://preferred.jp/">Preferred Infrastructure, inc.</a> All rights reserved.</li>
            <li>Design/Template: <a href="http://templated.co">TEMPLATED</a>, <a href="http://cloudcannon.com">Cloud Cannon</a></li>
	        <li>Photo: <a href="http://commons.wikimedia.org/wiki/File:The_Carina_Nebula.jpg">European Southern Observatory</a></li>
	    </ul>
    </div>
</footer>
