<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/chainer_icon_red.png" style="height: 90%" alt="Chainer"/></a></h1>
    <nav id="nav">
	    <ul>
	        <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
	        <li><a href="https://docs.chainer.org/">Documents</a></li>
	        <li><a href="https://github.com/chainer/chainer">GitHub</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/chainer">Forum</a></li>
            <li><a href="https://bit.ly/join-chainer-slack">Slack</a></li>
	        <li><a href="https://www.preferred-networks.jp/">About us</a></li>
            <li class="share">
              <a href="https://twitter.com/share?url=https://chainer.org/&text=Chainer:%20A%20flexible%20framework%20for%20neural%20networks&via=ChainerOfficial" target="_blank">
                <i class="fa fa-twitter fa-lg"></i>
              </a>
            </li>
            <li class="share">
              <a href="https://www.facebook.com/share.php?u=https://chainer.org/" target="_blank">
                <i class="fa fa-facebook fa-lg"></i>
              </a>
            </li>
            <li class="share">
              <a href="https://plus.google.com/share?url=https%3A%2F%2fchainer.org" target="_blank">
                <i class="fa fa-google-plus fa-lg"></i>
              </a>
            </li>
            <li class="share">
              <a href="/feed.xml" target="_blank">
                <i class="fa fa-rss-square fa-lg"></i>
              </a>
            </li>
	    </ul>
    </nav>
</header>
