---
layout: blog
---
<section>
    <h2 style="text-transform: none; letter-spacing: 0.04em">{{ page.title }}</h2>
    <ul class="meta">
        {% if page.author %}<li>By {{ page.author }}</li>{% endif %}
        <li>{{ page.date | date: "%b %-d, %Y" }}</li>
        {% if page.categories %}
        <li>In
            {% for category in page.categories %}
            <span><a href="{{ site.baseurl }}/blog/category/{{ category | downcase | cgi_escape }}/">{{ category }}</a></span>
            {% endfor %}
        </li>
        {% endif %}
        <li class="post_share">
          <a href="https://twitter.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&text={{ page.title }}&via=ChainerOfficial" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a>
          <a href="http://www.facebook.com/share.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a>
        </li>
    </ul>
	<p>{{ content }}</p>
</section>

<footer style="padding-top: 3em">
    {% if page.previous %}
    <a href="{{ site.baseurl }}{{ page.previous.url }}" class="float-left"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Previous post</a> {% endif %}
    {% if page.next %}
    <a href="{{ site.baseurl }}{{ page.next.url }}" class="float-right">Next post <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> {% endif %}
    <hr>
</footer>
